.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}
td {
    border: solid 1px black;
    width: 100px;
    height: 100px;
   
    text-align: center;
}